.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}
.spancolor {
  color: rgb(88, 88, 214);
}
.spancolorlarge {
  color: rgb(88, 88, 214);
  font-size: larger;
}
.spanbold {
  font-weight: bold;
}

.AboutSection1 {
  /* border: 2px solid rgb(26, 215, 5); */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  max-width: 80vw;
}
.AboutSection1Info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5px;
}
.AboutSection1Info3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.AboutSection1Info3 ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.AboutSection1Img {
  background-color: rgb(88, 86, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 25px;
  border-radius: 4px;
}
.AboutSection1Img img {
  max-width: 450px;
  height: max-content;
}

/* Media Queries for Responsiveness About section 1*/
@media (max-width: 1024px) {
  .AboutSection1 {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .AboutSection1Info {
    width: 90vw;
  }
}
@media (max-width: 780px) {
}
@media (max-width: 480px) {
  .AboutSection1Img {
    display: none;
  }
}
/* About section 2 started  */
.AboutSection2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 390px;
  width: 80%;
  background-color: rgb(88, 86, 214);
  text-align: center;
  border-radius: 7px;
}
.AboutSection2Heading {
  color: rgb(215, 255, 0);
  text-align: center;
}

/* swiperStyles.css */
.customSwiper {
  max-width: 100%;
  margin: auto;
  overflow: hidden !important;
  /* padding: 50px 50px 50px 50px; */
  display: flex !important;
  justify-content: center !important;
}

.customSlide {
  width: 200px !important;
  height: 255px !important;
  overflow: visible !important;
  padding-top: 20px;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 30px;
  transition: transform 0.3s ease-in-out; /* Smooth hover effect */

  /* 
  border: 2px solid green; */
}

.Swiperdiv img {
  width: 110px;
  height: 152px;
  height: auto;
  border-radius: 50%;
  border: 3px solid rgb(88, 86, 214);
}

.Swiperdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* border: 2px solid red; */
}

.Swiperdiv img {
  width: 110px;
  height: 152px;
  height: auto;
  border-radius: 50%;
  border: 3.5px solid rgb(88, 86, 214);
}

.Swiperdiv div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.instituteName {
  font-size: 10px;
  padding: 10px;
}

/* Media queries for responsiveness About section 2 */
@media (max-width: 1024px) {
  .swiper-slide img {
    width: 80%;
  }
  .AboutSection2 {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .AboutSection2 {
    width: 95%;
    border: 6px solid rgb(88, 86, 214);
  }
  .swiper-slide img {
    width: 100%;
  }

  .swiper {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .swiper-slide img {
    width: 100%;
  }

  .swiper {
    padding: 0 5px;
  }
  .customSlide {
    overflow: visible !important;
  }
  .customSwiper {
    width: 100vw;
  }
}

/* AboutSection3 started */
.AboutSection3 {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;
}
.AboutSection3Heading {
  text-align: center;
  color: rgb(88, 86, 214);
}
.AboutSection3Maps {
  display: flex;
  justify-content: space-between;

  align-items: center;
  color: white;
  /* border: 2px solid red; */
  gap: 50px;
}
.AboutSection3Map1 {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  background-color: rgb(108, 106, 233);
  padding: 6px;
}
.AboutSection3Map1 iframe {
  border-radius: 5px;
  border: 2px solid rgb(7, 7, 7);
  height: 400px;
  min-width: 550px;
}
.AboutSection3Map2 {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: rgb(88, 86, 214);
}
.AboutSection3Map2 ul {
  padding: 5px 20px;
}
.AboutSection3Map21 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 1300px) {
  .AboutSection3Maps {
    flex-direction: column-reverse;
  }
  .AboutSection3 {
    width: 70vw;
    /* border: 2px solid red; */
  }
  .AboutSection3Map1 iframe {
    height: 400px;
    min-width: 520px;
  }
}
@media (max-width: 1024px) {
  .AboutSection3 {
    width: 80vw;
  }
  .AboutSection3Map1 iframe {
    min-width: 500px;
  }
}
@media (max-width: 720px) {
  .AboutSection3Maps {
    flex-direction: column-reverse;
  }
  .AboutSection3Map1 iframe {
    min-width: 300px;
  }
}
