.adminExamListContainerPage{
    min-height: calc(100vh - 70px);
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    /* margin-top: 70px; */
    padding-top: 20px;
    /* border: 1px solid red; */
}

.paths{
    /* border: 1px solid orange; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    
}
.path{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--dark_color);
    /* transition: all 0.2s linear; */

}
.path:hover{
    color: var(--primary_color);
    text-decoration: underline;
}
.pathIcon{
    font-size: 8px;
    color: var(--dark_color);
    
}

.examListContainer{
    margin-top: 30px;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 45px;
    padding-right: 20px;

}

.examListHeader{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    position: relative;
}

.examListHeaderText{
    font-size: 25px;
    font-weight: 600;
    color: var(--dark_color);
    /* font-family: "Noto Serif Bengali", serif; */
    font-family: "Noto Sans Bengali", serif;
    /* word-spacing: 5px; */
    /* letter-spacing: 1px; */
    /* font-family: tatsama !important; */
    white-space: nowrap;
}
.examListLine{
    width: 100%;
    height: 1.2px;
    background-color: var(--dark_secondary_color);
}
.examListHeaderText span{
    /* font-weight: 700; */
    /* font-weight: 300; */
    /* font-family: "Noto Serif Bengali", serif;  */
    font-family: "Noto Sans Bengali", serif;
    color: var(--primary_color);
}

.examsTypeContainer{
    height: fit-content;
    width: 100%;
    /* padding-left: 20px;
    padding-right: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
    /* border: 1px solid red; */
}


.testSection{
    width: 100%;
    padding: 0px;
    gap: 15px;
    
}

.createNew{
    /* white-space: nowrap; */
    /* width: fit-content; */
    position: absolute;
    top: -30px;
    right: 0;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.ExamTestSection{
    gap: 40px;
    padding-left: 0px;
    padding-right: 20px;
}

.editExam{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.testHeading{
    font-size: 18px;
    font-weight: 600;
    /* color: red; */
}

.testLower{
    padding: 0px;
    margin-top: 20px;
}

.testLowerText{
    font-size: 12px;
    color: #000000bb;
}

.test{
    cursor: pointer;
}
.test:hover{
    transform: scale(1.01);
}
