.adminCreateQuestionSetContainerPage{
    min-height: calc(100vh - 70px);
    padding-bottom: 50px;
    /* border: 1px solid red; */
}
.backSection{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 0px;

}

.backButton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    padding: 5px 10px;
}

.createQuestionSetContainer{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding-right: 20px;
}

.inputSection{
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.inputSection label,.addQuestionLabel{
    font-size: 12px;
    color: var(--dark_color);
}

.inputSection input{
    width: 100%;
    padding: 5px 10px;
    border: 1.5px solid var(--dark_secondary_color);
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
}

.inputSection input:focus {
    outline: none;
  }
  
  .inputSection input:focus-within {
    border: 1.5px solid var(--primary_color);
  }


  .inputSection textarea{
    width: 100%;
    padding: 5px 10px;
    border: 1.5px solid var(--dark_secondary_color);
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    resize: none;
    min-height: 100px;
}

.inputSection textarea:focus {
    outline: none;
  }
  
  .inputSection textarea:focus-within {
    border: 1.5px solid var(--primary_color);
  }



  .addQuestionSection{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    margin-top: 30px;
    flex-direction: column;
  }

  .questionList{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }

  .questionCardContainer{
    position: relative;

  }

  .questionCard,.questionCardAdd{
    width: 40px;
    height: 40px;
    background-color: #d4d4d4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark_color);
    cursor: pointer;
    user-select: none;
    transition: all 0.2s linear;
    font-weight: 500;
    position: relative;
  }
  .questionCard:hover,.questionCardAdd:hover{
    background-color: var(--primary_color);
    color: var(--light_primary_color);
  }

  .close{
    font-size: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    z-index: 1;
    background-color: #fff;
    border-radius: 50%;
  }
  .questionCard:hover .close{
    color: var(--dark_color);
  }

  .createButton{
    width: 100%;
    margin-top: 20px;
  }

  .questionBody .jodit-wysiwyg{
    min-height: 500px !important;

  }

  .required{
    color: red;
  }

  .imagePreview{
    /* border: 1px solid red; */
    width: 100%;
    overflow: hidden;

  }
  .imagePreview img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }