/* Home.module.css */
.Homestyle {
  display: flex;
  flex-direction: column;
  /* gap: 80px; */
}

/* Home Section-1 Started Here ---> */

/* Home Upper */
.HomeMain {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: auto;
  height: auto;
  align-items: center;
  padding-top: 100px;
}

/* Home Upper Right */
.RightImg {
  width: 20vw;
  height: 45vh;
}

/* Home Upper Left */
.HomeMainLeft {
  width: 35vw;
  height: 45vh;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.HomeMainLeft h1 span,
.HomeMainLeftDown p span {
  color: rgb(88, 88, 214);
}
.HomeMainLeftDreamExam {
  color: #d4af37;
}

.HomeMainLeft p span {
  font-weight: bold;
}

.HomeMainLeftDown {
  display: flex;
  align-items: center;
  gap: 10px;
}

.HomeMainLeftDownImg {
  width: 80px;
  height: 40px;
}

.HomeMainLeftButton {
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.HomeMainLeftDown p {
  font-weight: bold;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .HomeMain {
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }

  .HomeMainLeft {
    width: 85vw;
    height: auto;
    gap: 30px;
  }

  .HomeMainLeftDown {
    width: 80vw;
  }

  .RightImg {
    display: none;
  }
}
/* @media (max-width: 768px) {
  .HomeMainLeft {
    width: 100vw;
    padding: 0 20px;
  }

  .HomeMainLeftDown {
    width: 90vw;
  }

  .RightImg {
    width: 80vw;
    height: auto;
  }

  .HomeMainLeftButton {
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 480px) {
  .HomeMainLeft {
    width: 100vw;
    padding: 0 10px;
  }

  .HomeMainLeftDown {
    width: 100vw;
  }

  .RightImg {
    width: 100vw;
    height: auto;
  }

  .HomeMainLeftButton {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
} */

/* Home Section-2 Started Here ---> */
/* Section Gap Top */
.HomeSec2div {
  margin-top: 70px;
}
.HomeSec2div {
  /* max-width: 75vw !important; */
  max-width: 1400px;
  padding: 20px;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 0px;
  position: relative;
}

/* .HomeSec2div::before {
  left: 0;
}

.HomeSec2div::after {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
} */

.HomeSec2div {
  position: relative;
}

.section2Heading {
  font-size: 38px;
  font-family: tatsama;
  width: 100%;
  text-align: center;
}
.section2Heading span {
  font-size: 35px !important;
  font-family: tatsama;
  color: var(--primary_color);
}

/* .HomeSec2div span {
  color: rgb(88, 88, 214);
} */
/* .SwipperDiv{ */
/* box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px rgba(0, 0, 0, 0.15); */
/* } */
/* swiperStyles.css */
.customSwiper {
  width: 100%;
  height: 410px !important;
  overflow: hidden !important;
  /* padding: 50px 50px 50px 50px; */
  display: flex;
  justify-content: center;
  padding: 30px !important;
  padding-bottom: 60px !important;
  /* border: 1px solid red; */
  /* padding-top: 10px !important; */
  /* padding-bottom: 10px !important; */
}

.customSlide {
  /* width: 200px !important; */
  /* height: 235px !important; */
  overflow: visible !important;
  /* padding-top: 20px; */
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.144);
  /* margin: 40px; */
  transition: transform 0.3s ease-in-out; /* Smooth hover effect */
  /* border: 1px solid red; */
  width: 250px !important;
  height: 100% !important;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.3s ease-in-out; /* Smooth hover effect */
}
.customSlide:hover {
  transform: scale(1.05); /* Scale up on hover */
  /* box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.15); */
}

/* .Swiperdiv img {
  height: auto;
  border-radius: 50%;
} */

.Swiperdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.profileImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid rgb(88, 86, 214);
}
.profileImgContainer img {
  /* width: 100%;  */
  height: 100%;
  width: 100%;
  object-fit: cover;

  /* border-radius: 50%;border-radius: 50%; */
  /* border: 3.5px solid rgb(88, 86, 214); */
}

.Swiperdiv div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.instituteName {
  font-size: 15px;
  padding: 10px;
  text-overflow: ellipsis;
  text-align: center;
  /* white-space: nowrap; */
}

/* Media queries for responsiveness */
/* @media (max-width: 1024px) {
  .swiper-slide img {
    width: 80%;
  }
  .HomeSec2div {
    max-width: 85vw !important;
  }
} */

/* @media (max-width: 768px) {
  .swiper-slide img {
    width: 100%;
  }

  .swiper {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .swiper-slide img {
    width: 100%;
  }

  .swiper {
    padding: 0 5px;
  }
  .customSlide {
    overflow: visible !important;
  }
  .customSwiper {
    width: 100vw;
  }
} */

/* Home Section-3 Started Here ---> */
.spancolor {
  color: rgb(88, 88, 214);
}

.spanbold {
  font-weight: bold;
}

/* ====================== Home Page Section 3 ====================== */
/* ========= section gap ========= */
.HomeSec3 {
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 0px;
}

.HomeSec3 {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* width: 80vw; */
  /* margin: auto; */
  /* gap: 40px; */
  background-color: #514eec;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.headingSection3 {
  /* font-weight: bold; */
  font-size: 38px;
  font-family: tatsama;
  color: #ffffff;
}
.headingSection3 span {
  color: #ffffff;
  font-size: 38px;
  font-family: tatsama;
  font-weight: 500;
}

.HomeSec3div21 {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  gap: 20px;
}

.HomeSec3div211 {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}
.homeSection3Description {
  color: var(--light_primary_color);
  font-family: "Noto Sans Bengali", serif;
  max-width: 600px;
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
}

.HomeSec3div21iframe {
  width: 600px;
  height: 300px;
  border-radius: 10px;
}

/* .HomeSec3div21 {
  display: flex;
  flex-direction: column;
  width: 78vw;
  align-items: center;
  gap: 30px;
 justify-content: center;
  
  color: white;
  
} */

/* .HomeSec3div21,
.HomeSec3div22 {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 75vw;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.HomeSec3div21 p,
.HomeSec3div22 p {
  width: 30vw;
  font-size: 1.2rem;
}
.HomeSec3div211{
  
  display: flex;
  flex-direction: column;
  gap: 15px;
} */
.ExploreNowButton {
  background-color: white;
  color: var(--primary_color);
  font-weight: 600;
  letter-spacing: 1.2px;
  /* width: 150px; */
  transition: all 0.2s ease-in-out;
}
.ExploreNowButton:hover {
  /* background-color: white; */
  /* color: rgb(131, 130, 212);; */
  background-color: #fff;
  transform: scale(1.05);
}

/* .HomeSec3div21iframe {
  width: 420px;
  height: 300px;
}

.HomeSec3div22 img {
  width: 420px;
  height: 300px;
} */

/* Media queries for responsiveness */
/* @media (max-width: 1024px) {
  .HomeSec3div21iframe,
  .HomeSec3div22 img {
    width: 320px;
    height: 260px;
  }
  .HomeSec3div21 p,
  .HomeSec3div22 p {
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .HomeSec3div21 {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .HomeSec3div2 {
    gap: 30px;
  }
  .HomeSec3div22 {
    flex-direction: column;
    gap: 30px;
    height: auto;
  }
  .HomeSec3div21 p,
  .HomeSec3div22 p {
    width: 68vw;
    font-size: 1rem;
  }
  .HomeSec3div21 img {
    width: 80vw;
  }
  .HomeSec3div22 img {
    width: 50vw;
    max-height: 300px;
  }
} */

/* Home Section-4 Started Here ---> */
.HomeSec4 {
  margin-top: 70px;
}
.headingSection4 {
  /* border: 1px solid red; */
  text-align: center;
  font-family: tatsama;
  font-size: 38px;
}
.headingSection4 span {
  color: var(--primary_color);
  font-size: 38px;
  font-family: tatsama;
  /* font-weight: 500; */
}
.HomeSec42 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* border: 1px solid red; */
  margin-top: 50px;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  /* background-color: #f9f9f9; */
}

.examSection {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  /* padding-top: 0px; */
  /* margin: 10px 0; */
  width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
  transition: all 0.2s ease;
  display: flex;
  /* border: 1px solid red; */
}

.examSection:hover {
  transform: scale(1.015);
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); */
}

.examImage {
  height: 250px;
}

.examInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.examSectionHeading {
  font-size: 30px;
  margin-bottom: 10px;
  color: #000000;
  font-family: tatsama;
}

.examSection p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #666;
}

.examButton {
  background-color: var(--primary_color);
  color: white;
  width: 150px;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.examSection button:hover {
  background-color: #0056b3;
}

/* Home Section-5 Started Here ---> */
/* ====================== Section gap Section 5 ====================== */
.HomeSec5 {
  margin-top: 70px;
}
.HomeSec5 {
  display: flex;
  max-width: 80%;
  flex-direction: column;
  justify-content: center;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}

.HomeSec52 {
  display: flex;
  justify-content: center;
}

.HomeSec521 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 15px;
}

.HomeSec5IMG {
  height: 480px;
}

.ServiceInfo {
  display: flex;
  flex-direction: row;
}

.ServiceInfo h1 {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 86, 214);
  color: rgb(255, 255, 255);

  border-radius: 10px 0px 0px 10px;
}
.ServiceInfo p {
  padding: 12px 10px;
  font-size: 14px;
}
.service h2 {
  padding: 12px 10px 2px 5px;
}
.ServiceInfo div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  padding-left: 20px;
  box-shadow: 5px 0px 20px 9px rgba(111, 108, 108, 0.1),
    /* Right shadow with more blur */ 0px -5px 15px 2px rgba(111, 108, 108, 0.1),
    /* Top shadow (4px spread, more blur) */ 0px 5px 15px 7px
      rgba(111, 108, 108, 0.1); /* Bottom shadow with more blur */
  /* border-radius: 0px 10px 10px 0px; */
  /* border-right-top-radius: 10px; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Home Section-6 Started Here ---> */
.HomeSec6 {
  margin-top: 70px;
}
.HomeSec6 {
  width: 85%;
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.HomeSec6faqsec {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.HomeSec6faqsec1 {
  width: 85vw;
  height: auto;
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}

.HomeSec6faqQue {
  background-color: rgb(88, 86, 214);
  color: #fff;
  padding: 10px;
  padding-left: 25px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 7px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.HomeSec6faqQue h5 {
  font-size: 25px;
}

.HomeSec6faqAns {
  background-color: whitesmoke;
  border-radius: 7px;
  /* padding: 15px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 0px;
  overflow: hidden;
  transition: all 0.2s ease;
  margin-top: 10px;
  font-family: "Noto sans Bengali", sans-serif;
  font-size: 18px;
  font-weight: 500;
  /* display: none; */
}
.HomeSec6faqAns.active {
  padding: 15px;
  height: 100px;
  /* display: block; */
}

/* ========= Section 2 ( RESPONSIVE ) ========= */
@media only screen and (max-width: 1500px) {
  .HomeSec2div {
    width: 100%;
    /* border: 1px solid red; */
  }
}

@media only screen and (max-width: 1200px) {
  .section2Heading {
    font-size: 28px;
  }
  .section2Heading span {
    font-size: 28px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .section2Heading {
    font-size: 25px;
  }
  .section2Heading span {
    font-size: 25px !important;
  }
}

@media only screen and (max-width: 700px) {
  .section2Heading {
    font-size: 35px;
  }
  .section2Heading span {
    font-size: 35px !important;
  }
}

@media only screen and (max-width: 500px) {
  .section2Heading {
    font-size: 28px;
  }
  .section2Heading span {
    font-size: 28px !important;
  }
}

@media only screen and (max-width: 400px) {
  .section2Heading {
    font-size: 25px;
  }
  .section2Heading span {
    font-size: 25px !important;
  }
  .customSwiper {
    height: 420px !important;
  }
  .customSlide {
    height: 300px !important;
  }
}
/* ========= Section 3 ( RESPONSIVE ) ========= */
@media only screen and (max-width: 1200px) {
  .HomeSec3div21iframe {
    width: 500px;
    height: 300px;
  }
  .headingSection3,
  .headingSection3 span,
  .headingSection4,
  .headingSection4 span {
    font-size: 30px;
  }
  .homeSection3Description {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1000px) {
  .HomeSec3div21iframe {
    width: 400px;
    height: 200px;
  }
}

@media only screen and (max-width: 700px) {
  .HomeSec3div21 {
    flex-direction: column-reverse;
    /* border: 1px solid red; */
    gap: 30px;
  }
  .HomeSec3div21iframe {
    width: 100%;
    height: 300px;
  }
  .HomeSec3div211 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .headingSection3,
  .headingSection3 span,
  .headingSection4,
  .headingSection4 span {
    font-size: 35px;
  }
  .homeSection3Description {
    font-size: 22px;
  }
}
@media only screen and (max-width: 500px) {
  .HomeSec3div21iframe {
    height: 250px;
  }
  .headingSection3,
  .headingSection3 span,
  .headingSection4,
  .headingSection4 span {
    font-size: 28px;
  }
  .homeSection3Description {
    font-size: 18px;
  }
}

@media only screen and (max-width: 400px) {
  .headingSection3,
  .headingSection3 span,
  .headingSection4,
  .headingSection4 span {
    font-size: 25px;
  }
  .homeSection3Description {
    font-size: 14px;
  }
  .HomeSec3div21iframe {
    height: 190px;
  }
}

/* ========= Section 4 ( RESPONSIVE ) ========= */

@media (max-width: 720px) {
  .examSection {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
  .examImage {
    height: 200px;
    width: fit-content;
  }
  .examInfo {
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
}

/* ========= Section 5 ( RESPONSIVE ) ========= */
@media (max-width: 1224px) {
  .ServiceInfo div {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .HomeSec5IMG {
    display: none;
  }
  .service {
    padding: 10px;
  }
  .HomeSec521 {
    gap: 30px;
  }
  .ServiceInfo {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .ServiceInfo h1 {
    height: auto;
  }
  .ServiceInfo p {
    padding: 5px 5px;
  }
}

@media only screen and (max-width: 700px) {
  .ServiceInfo h1 {
    display: none;
  }
  .service {
    border-radius: 10px;
  }
}
