/* Home Section-1 Started Here ---> */

/* Home Upper */
.HomeMain{

  display:flex;
  justify-content: space-around;
  height: 65vh;
  align-items: center;
}
/* Home Upper Right*/
.RightImg{
  width: 20vw;
  height: 45vh;
}

/* Home Upper Left */
.HomeMainLeft{
  
  width: 45vw;
height: 45vh;
display: flex;
flex-flow: column;
justify-content: space-around;

}

.HomeMainLeft h1 span ,.HomeMainLeftDown p span{
  color:rgb(88, 88, 214);
}
.HomeMainLeft p span{

  font-weight:bold;
}
.HomeMainLeftDown{
  display: flex;
  width: 24vw;

  justify-content: space-around;align-items: end;

}
.HomeMainLeftDownImg{
  width: 80px;
  height: 40px;
  
}
.HomeMainLeftButton{
 width: 18vw;
 
 display: flex;
 justify-content: space-between;
}
.HomeMainLeftDown p{
  font-weight: bold;
 }




 /* Home Section-3 Started Here ---> */
 .spancolor{
  color: rgb(88, 88, 214);
 }
 .spanbold{
  font-weight: bold;
 }

 .HomeSec3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  height: 90vh;
  width: 85vw;
  margin: auto;
 }
 .HomeSec3div1 h2{
  font-weight: bold;
  font-size: 1.6rem;


 }
 .HomeSec3div2{
  display: flex;
  flex-direction: column;
 
  width: 85vw;
  align-items:center;
 }
 .HomeSec3div21 , .HomeSec3div22{
  display: flex;
  flex-direction: row;
 
  width: 75vw;
  justify-content: space-between;
  align-items: center;
 }
 .HomeSec3div21 p, .HomeSec3div22 p{
width: 30vw;
font-size: 1.2rem;
 }
 .HomeSec3div21 img, .HomeSec3div22 img{
  width: 20vw;
  height: auto;
   }