.userProfileSection{
    margin-top: 100px;
    min-height: calc(100vh - 100px);
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}


.text{
    font-size: 20px;
    font-weight: 600;
    color: var(--dark_color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text span{
    font-size: 20px;
    font-weight: 400;
}



.text b{
    font-size: 40px;
    color: var(--primary_color);
}
